@use "../../styles/variables" as *;

.search-box {
  margin-bottom: $spacing-md;

  &__input {
    width: 100%;
    max-width: 400px;
    padding: $spacing-sm $spacing-md;
    font-size: $font-size-sm;
    background-color: #d8dee4;
    color: #fff;
    border: none;
    border-radius: $radius-sm;
    outline: none;
    transition: background-color 0.2s;

    &:focus {
      background-color: mix($color-main, $color-background, 85%);
      &::placeholder {
      color: #fff;
    }
    }

    &::placeholder {
      color: $color-main;
    }
  }
}

.search-results {
  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: $spacing-lg;
  }

  &__empty {
    color: $color-text-secondary;
    font-size: $font-size-base;
    padding: $spacing-lg 0;
  }

  &--hidden {
    display: none;
  }
}

.hero {
  text-align: left;
  padding: 0 0 $spacing-md;

  &__title {
    font-size: $font-size-lg;
    color: $color-main;
    font-weight: bold;
    margin-bottom: $spacing-sm;
  }

  &__description {
    font-size: $font-size-base;
    color: $color-text-secondary;
  }
}

.tabs {
  display: flex;
  gap: $spacing-sm;
  margin-bottom: $spacing-lg;
  border-bottom: 1px solid $color-border;
  padding-bottom: $spacing-sm;

  &--hidden {
    display: none;
  }

  &__icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: $spacing-xs;
    vertical-align: middle;
    background-color: #a2a2a2;
    mask-image: var(--icon-url);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-image: var(--icon-url);
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    transition: background-color 0.2s;
  }

  &__button {
    display: flex;
    align-items: center;
    padding: $spacing-sm $spacing-md;
    border: none;
    background: none;
    font-size: $font-size-sm;
    font-weight: bold;
    color: #a2a2a2;
    cursor: pointer;
    border-radius: $radius-sm $radius-sm 0 0;
    transition: background-color 0.2s, color 0.2s;
    position: relative;

    &:hover {
      background-color:  #eeeeee;
      // color: $color-text;
    }

    &--active {
      color: $color-primary;
      font-weight: bold;

      &::after {
        content: "";
        position: absolute;
        bottom: -#{$spacing-sm};
        left: 0;
        right: 0;
        height: 2px;
        background-color: $color-primary;
      }
    }

    &--spreadsheet.tabs__button--active {
      color: $color-spreadsheet;
      .tabs__icon {
        background-color: $color-spreadsheet;
      }
      &::after {
        background-color: $color-spreadsheet;
      }
    }

    &--docs.tabs__button--active {
      color: $color-docs;
      .tabs__icon {
        background-color: $color-docs;
      }
      &::after {
        background-color: $color-docs;
      }
    }

    &--slides.tabs__button--active {
      color: $color-slides;
      .tabs__icon {
        background-color: $color-slides;
      }
      &::after {
        background-color: $color-slides;
      }
    }

    &--gas.tabs__button--active {
      color: $color-gas;
      .tabs__icon {
        background-color: $color-gas;
      }
      &::after {
        background-color: $color-gas;
      }
    }

    &--hack.tabs__button--active {
      color: $color-hack;
      .tabs__icon {
        background-color: $color-hack;
      }
      &::after {
        background-color: $color-hack;
      }
    }

    &--others.tabs__button--active {
      color: $color-others;
      .tabs__icon {
        background-color: $color-others;
      }
      &::after {
        background-color: $color-others;
      }
    }

    &--all.tabs__button--active {
      color: $color-all;
      .tabs__icon {
        background-color: $color-all;
      }
      &::after {
        background-color: $color-all;
      }
    }
  }
}

.articles-container {
  margin-top: $spacing-md;

  &--hidden {
    display: none;
  }
}

.tab-panel {
  margin-bottom: $spacing-xl;

  &--hidden {
    display: none;
  }
}

.articles {
  margin: 0 0 $spacing-xl;

  &__heading {
    font-size: $font-size-sm;
    font-weight: normal;
    color: $color-text-secondary;
    margin-bottom: $spacing-md;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: $spacing-lg;
  }
}
