@use "../../styles/variables" as *;

.hero {
  text-align: center;
  padding: $spacing-lg 0;

  &__title {
    font-size: $font-size-lg;
    margin-bottom: $spacing-md;
  }

  &__description {
    font-size: $font-size-base;
    color: $color-text-secondary;
  }
}

.articles {
  &__heading {
    font-size: $font-size-lg;
    font-weight: normal;
    margin-bottom: $spacing-xl;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: $spacing-lg;
  }
}
